:root {
  --main-color: #004868;
  --secondary-color: #F8F9F9;
  --third-color: #F5A623;
  --text-color: #000;
  --button-color: #d3d3d3;
}



* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter;
}

body {
    background-color: var(--secondary-color);
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--secondary-color);
    z-index: 100;
}

.navbar.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.navbar img {
    height: 100px;
    margin-left: 20px;
}

.navbar-content {
    margin-right: 30px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 700
}
.navbar-content i {
    font-size: 42px;
    color: var(--main-color);
}

.navbar-content a {
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 10px 12px;
    border-radius: 20px;
    font-size: 15px;
}

.navbar-content #navbar-download {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid black;
}

.hero {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.hero-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    word-spacing: 5px;
}

.hero-text h1 {
    font-size: 50px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.5;
}




.hero-anchor {
    margin-top: 12px;
    display: flex;
    gap: 40px;
}

.windows {
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 15px 12px;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    width: fit-content;
    gap: 20px;
}

.windows img {
    height: 40px;
}

.windows-text i {
    color: var(--secondary-color);
}

.windows h6 {
    font-size: 20px;
}

.windows p {
    font-size: 9px;
    word-spacing: 0;
}

.hero-img img {
    width: 500px;
}

.mac {
    color: black;
    background-color: var(--secondary-color);
    padding: 15px 12px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    width: fit-content;
    gap: 20px;
}

.mac img {
    height: 40px;
}

.mac h6 {
    font-size: 20px;
}

.mac p {
    font-size: 9px;
    word-spacing: 0;
}

.mac:hover {
    outline: 1px solid black;
}

.hero-img img {
    width: 500px;
}


.swiper {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.swiper-slide {
    width: 200px;
    flex-shrink: 0; /* biar gak ngecilin item pas scroll */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 50px;
    transition-timing-function: linear !important;
}


.swiper-wrapper img {
    width: 140px;
}

.price {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    flex-direction: column;
    gap: 60px;
}

.price-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-text h2 {
    font-size: 40px;
}

.price-text p {
    font-size: 15px;
}

.toggle-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.toggle-price p {
    font-size: 12px;
    font-weight: 600;
}

.button {
    width: 80px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    cursor: pointer;
}

.button.toggleBG {
    background-color: var(--third-color);
}

.button-circle {
    width: 30px;
    background-color: var(--secondary-color);
    height: 30px;
    border-radius: 100%;
    margin: 5px;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.button-circle.toggle {
    transform: translateX(40px);
}

.price-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.price-card {
    width: 340px;
    height: max-content;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: 1px solid black;
}

.price-card-header {
    margin-bottom: 25px;
}

.price-card-header h6 {
    font-size: 30px;
    margin-bottom: 15px;
}

.price-card-header p {
    font-size: 13px;
}

.price-card h4 {
    font-size: 45px;
    margin-bottom: 25px;
}

.price-card span {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
}

.price-card-button {
    background-color: var(--third-color);
    color: var(--text-color);
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    border: 1px solid black;
}

.price-card-features h6 {
    font-size: 15px;
    margin-bottom: 15px;
}

.price-card-features-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-card-features-list p {
    font-size: 13px;
}

#most-popular-container {
    position: relative;
}

#most-popular {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: -45px;
    background-color: var(--third-color);
    padding: 10px;
    font-weight: 600;
    border-radius: 15px;
}

.tier-free .price-card-button {
    background-color: var(--button-color);
    cursor: default;
}

.tier-pro {
    border: 3px solid var(--third-color);
}