:root {
    --main-color: #004868;
    --secondary-color: #F8F9F9;
    --third-color: #F5A623;
    --text-color: #000;
    --button-color: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter;
}

.profile {
    width: 100%;
    padding: 240px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-container {
    width: 80%;
    height: 80%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    border: 1px solid black;
    padding: 60px;
    border-radius: 25px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}

.profile-heading {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.profile-heading h2 {
    font-size: 40px;
}

.profile-heading img {
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
}

.profile-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.profile-text-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.profile-text-detail a {
    padding: 12px;
    background-color: var(--button-color);
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    transition: 0.3s;
}

.profile-text-detail a:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.profile-text-detail input {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.profile-text-detail h4, .profile-text-detail p {
    font-size: 20px;
}

.profile-plan {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px;
    background-color: var(--button-color);
    color: var(--text-color);
}

.profile-plan p {
    font-size: 15px;
    font-weight: 700;
}

.profile-plan h2 {
    font-size: 40px
}


.profile-plan-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.profile-plan-detail p {
    font-weight: 400;
}

.profile-plan a {
    padding: 12px;
    background-color: var(--button-color);
    text-align: center;
    width: fit-content;
    border: 1px solid black;
    border-radius: 15px;
    transition: 0.3s;
    filter: brightness(1.1);
}

.profile-plan a:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 70px;
    padding: 30px;
}

.footer img {
    width: 200px;
}

.footer-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-products h4, .footer-products a {
    margin-bottom: 15px;
    font-size: 14px
}

.footer-products a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer p {
    width: 100%;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
}